name: Triggering creation of EC2 instance
on:
  workflow_dispatch:
     inputs:
      Create new EC2 instance:
        description: 'Ù‹Creation of EC2 Instance will be triggered'
        required: true
        default: 'Create new EC2 instance'

      workflow2_github_account:
        description: 'GitHub Account Owner'
        required: true
        default: ':ManishaMiranda'

      workflow2_repo_github:
        description: 'repo-name'
        required: true
        default: ':test' 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Test
        run: |
          curl -X POST https://api.github.com/repos/:userName/:repoName/dispatches \
          -H 'Accept: application/vnd.github.everest-preview+json' \
          -u ${{ secrets.ACTIONS_KEY }} \
          --data '{"event_type": "Trigger Workflow", "client_payload": { "repository": "'"$GITHUB_REPOSITORY"'" }}'
      - uses: actions/checkout@v3
